@charset "UTF-8";

/*TYPICAL DEVISCE BREACKPOINTS
-------------------------------
CELULAR: TELAS ATÉ 600PX.
TABLET: DE 768 ATÉ 992PX.
DESKTOP: DE 992 ATÉ 1200PX.
GRANDES: TELAS ACIMA DE 1200PX.
*/

@media screen and (min-width: 768px) {
    i#burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
    
}